<template>

    <lightning-card>
        <div class="slds-p-around_medium lgc-bg">
            <lightning-combobox name="accounts" label="Account" value="" placeholder="Select Account" options={optionsAccount} onchange={getAccountId} required></lightning-combobox>
        </div>
        <div class="slds-p-around_medium lgc-bg">
            <template for:each={finalData} for:item="ques">
                <div key={ques} class="slds-p-around_medium lgc-bg">
                    <div>
                        <lightning-input style="color:blue; width:70%" type="text"  data-id={ques.id} value={ques.question} readonly></lightning-input>
                        <template if:true={ques.show}>
                            <lightning-button-icon style="width:20%" icon-name="utility:dash" data-id={ques.id}  variant="container" alternative-text="Hide" class="slds-m-left_xx-small" onclick={hideElement} title="Hide"></lightning-button-icon>
                        </template>
                        <template if:false={ques.show}>
                            <lightning-button-icon style="width:20%" icon-name="utility:add"  data-id={ques.id} variant="container" alternative-text="Show" class="slds-m-left_xx-small" onclick={showElement} title="Show"></lightning-button-icon>
                        </template>
                    </div>
                    <template if:true={ques.show}>
                        <template if:true={ques.isPicklist}>
                            <template if:true={ques.required}>
                                <lightning-combobox name="answer" data-id={ques.id} label="Answer" value="" placeholder="Select Answer" options={ques.optionList} onchange={getAnswer} required></lightning-combobox>    
                            </template>
                            <template if:false={ques.required}>
                                <lightning-combobox name="answer" data-id={ques.id} label="Answer" value="" placeholder="Select Answer" options={ques.optionList} onchange={getAnswer}></lightning-combobox>    
                            </template>
                        </template>
                        <template if:true={ques.isText}>
                            <template if:true={ques.required}>
                                <lightning-textarea name="answer" data-id={ques.id} label="Answer" onchange={getAnswer} required></lightning-textarea>
                            </template>
                            <template if:false={ques.required}>
                                <lightning-textarea name="answer" data-id={ques.id} label="Answer" onchange={getAnswer} ></lightning-textarea>
                            </template>
                        </template>
                        <template if:true={ques.isRadio}>
                            <template if:true={ques.required}>
                                <lightning-radio-group name="answer"  label="Radio Group" options={ques.optionList} value="" type="radio" data-id={ques.id} onchange={getAnswer} required></lightning-radio-group>
                            </template>
                            <template if:false={ques.required}>
                                <lightning-radio-group name="answer"  label="Radio Group" options={ques.optionList} value="" type="radio" data-id={ques.id} onchange={getAnswer}></lightning-radio-group>
                            </template>
                        </template>
                        <template if:true={ques.isCheck}>
                            <template if:true={ques.required}>
                                <lightning-checkbox-group name="answer" label="Checkbox Group" options={ques.optionList} value="" onchange={getAnswer} data-id={ques.id} required></lightning-checkbox-group>
                            </template>
                            <template if:false={ques.required}>
                                <lightning-checkbox-group name="answer" label="Checkbox Group" options={ques.optionList} value="" onchange={getAnswer} data-id={ques.id}></lightning-checkbox-group>
                            </template>
                        </template>
                    </template>
                </div>
            </template>
        </div>
        <div class="slds-p-around_medium lgc-bg">
            <lightning-button label="Cancel" title="Non-primary action" onclick={clearData} class="slds-m-left_x-small"></lightning-button>
            <lightning-button variant="brand" label="Submit" title="Primary action" onclick={submitData} class="slds-m-left_x-small"></lightning-button>
        </div>
    </lightning-card>
</template>